nav, footer, main{
    background-image: linear-gradient(to right, orange, gold);
    border-radius: 10px;

    padding: 15px;
    margin-top: 10px;
}

body {
    background-color: #111111;
    width: 100%;
}

footer {
    clear: both;
}

a {
    color: #333333;
    text-decoration: none;
    font-weight: bold;
}

p {
    font-size: large;
}

li {
    font-size: 120%;
}